/*Colors*/

/*Text*/

@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

/*Images*/

/*Animations*/

/*Misc*/
html{
  background-color: rgb(0, 0, 0);
  scroll-behavior: smooth;
}


body{
  margin:0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

p, a, span{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

ul{
  list-style: none;
}

#landing-page{
  height: 100vh;
  width: 100%;
  background-image: url("images/pexels-temo-berishvili-1574843.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
  
.nav{
  background-color: transparent;
  position: fixed;
  top: 0;
  transition: 0.5s;
  padding: 2%;
  width: 100%;
  z-index: 100000;
}

.nav-got-scrolled{
  background-color: black; 
  border-bottom: 2px solid white;
  padding: 1%;
}

.nav-list{
  margin: 0;
  list-style: none;
}

.nav-item{
  display: inline-block;
  margin: none;
  padding: 0% 2%;
}

.nav-text{
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2em;
  padding: 8px;
  text-decoration: none;
  position: relative;
}

hover-underline {
  display: inline-block;
  position: relative;
  color: white;
  padding: 2%
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: white;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.button-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  width: 50%;
  padding: 3% 0%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  max-height: 100vh;
}

.landing-header{
  color: white;
  font-family: 'Gabarito', sans-serif;
  text-align: center;
  font-size: 4em;
  margin: 0;
}

.landing-info{
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  width: 50%;
  margin: 2% auto;
  font-size: 1em;
}

.heading{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 4%;
  margin: 0;
  font-size: 2.5em
}

.purpose-heading{
  padding: 5%;
  font-size: 2em;
}

.half-para{
  padding: 5%;
  margin: 0;
  padding-top: 0;
  font-size: 1.2em;
}

.full-para{
  padding: 5%;
  font-size: 1.4em;
  margin: 0;
  padding-top: 0;
  text-align: center;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.purpose-flex-container{
  padding: 8% 5% 4% 5%;
}

.flex-div{
  width: 40%;
  margin: 2%;
}

.flex-img{
  width: 100%;
  z-index: 1;
  position: relative;
}

.flex-img-bottom{
  width: 80%;
  float: right;
  margin-top: -80%;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.hidden-right {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.turtle-section{
  background-image: url("images/pexels-belle-co-847393.jpg");
  width: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.footer-container{
  border-top: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-div{
  width: 20%;
  margin: 2%;
}

.footer-link{
  display: block;
  margin: 2%;
}

#about-landing {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  background-image: url("images/pexels-rifqi-ramadhan-884547.jpg");
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  background-size: cover;
}

#about-landing h1 {
  color: white;
  font-family: 'Gabarito', sans-serif;
  text-align: center;
  font-size: 4em;
  margin: 0;
}

.about-body {
  display: grid;
  place-items: top;
  min-height: 100vh;
}

.contact{
  float: right;
  margin-right: 8%;
}

#about-sources h2 {
  font-size: 3em;
  text-align: center;
}

.delay1 {
  transition-delay: 100ms;
}

.delay2 {
 transition-delay: 150ms;
}

.delay3 {
  transition-delay: 200ms;
}

.delay4 {
  transition-delay: 250ms;
}

.delay5 {
  transition-delay: 300ms;
}

.about-body p {
  text-align: center;
}

.source-image-div {
  width: 100%;
}

.source-image{
  width: 50%;
  margin: 2% auto;
  display: grid;
  align-items: center;
  border-radius: 30px;
}

.square-img-div{
  width: 100%;
}

.start-img{
  z-index: 1000;
  width: 20%;
  margin-top: 10%;
}

.top-img{
  z-index: 1000;
  width: 20%;
  margin-left: -5%;
}

.middle-img{
  z-index: 100;
  width: 20%;
  margin-top: 10%;
  margin-left: -5%;
}

.bottom-img{
  z-index: 1;
  width: 20%;
  margin-top: 20%;
  margin-left: -5%;
}

.tech-info{
  padding-bottom: 0;
}

.tech-container{
  margin-top: -10%;
}

.impact-heading{
  font-size: 2.5em;
}

.green-heading::before{
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  background-color: #8191A6;
  margin-top: 7px;
  margin-bottom: 5px;
}

.impact-li{
  padding: 2%;
}

.impact-stat{
  font-weight: bold;
  font-size: 2em;
  margin-right: 5%;
}

.stat-info{
  vertical-align: center;
}

.green-heading{
  text-align: left;
  font-size: 4em;
  font-family: 'Gabarito', sans-serif;
}

.green-flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.green-flex-div{
  width: 50%;
  margin-left: 20%;
}

.impact-flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: #8abf6b;
}

.solar-flex-container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 5% 2%;
}

.solar-flex-div{
  width: 40%;
}

.solar-flex-img{
  width: 100%;
}

.solar-div{
  background-color: #4590BF;
  padding: 8% 4%;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}

.solar-heading{
  text-align: center;
  font-size: 2.4em;
}

.geo-container{
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.geo-img-div{
  width: 40%;
  margin-left: 5%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.geo-div{
  background-color: rgb(191, 114, 69);
  padding: 8% 4%;
  width: 35%;
  z-index: 10;
  text-align: center;
  float: right;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.geo-img{
  width: 120%;
}

.wind-container{
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.wind-img-div{
  width: 40%;
  margin-left: 5%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
}

.wind-div{
  background-color: #bf4545;
  padding: 8% 4%;
  width: 35%;
  z-index: 10;
  text-align: center;
  float: right;
  position: absolute;
  top: 50%;
  left: 31.5%;
  transform: translate(-50%, -50%);
}

.wind-img{
  width: 120%;
}

.hydro-container{
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.hydro-img-div{
  width: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.hydro-div{
  background-color: #7b98ac;
  padding: 8% 4%;
  width: 35%;
  z-index: 10;
  text-align: center;
  float: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hydro-img{
  width: 120%;
}

/** this is for smaller laptops such as our chromebook (wasn't looking good on my laptop) **/
@media screen and (max-width:1500px) {
  .solar-div{
    width: 30%;
    padding: 4%;
  }
  .geo-div{
    width: 30%;
    padding: 4%;
  }
  .wind-div{
    width: 30%;
    padding: 4%;
  }
  .hydro-div{
    width: 30%;
    padding: 4%;
  }
}

.panel {
  align-items: left;
  justify-content: left;
  background-color: rgb(197, 253, 205);
  position: relative;
  padding: 4% 8%;
  margin: 5% 0;
  color: #00474d;
  transition: 1s;
  border-radius: 10px;
}
 
.question {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 1%;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
 
.options {
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin: 2% 0;
  position: left;
  top: 25%;
  left: 40%;
}
 
#btn {
  width: 30%;
  font-size: 20px;
  padding: 10px 20px;
  background-color: rgb(90, 194, 64);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Gabarito', sans-serif;
}
 
#score {
  font-size: 30px;
  color: #005157;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.quiz{
  width: 70%;
  margin: 10% auto;
}

.quiz-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em;
  font-weight: bold;
}

.quiz-description{
  font-size: 1.2em;
  font-weight: bold;
}

.effect-div{
  padding: 8% 4%;
  margin: 5% 0;
  background-image: url("images/pexels-kourosh-qaffari-1583582.jpg");
  background-size: cover;
}

.effect-heading{
  font-size: 3em;
  font-family: 'Gabarito', sans-serif;
}

.source-div{
  padding: 8% 4%;
  margin-top: 5%;
  background-image: url("images/pexels-singkham-1108572.jpg");
  background-size: cover;
  text-align: center;
}

.source-heading{
  font-size: 3em;
  font-family: 'Gabarito', sans-serif;
}

.sources-div {
  min-height: 125vh;
  position: relative;
  background-color: white;
  background-image: url('images/pexels-rifqi-ramadhan-884547.jpg');
  background-size: cover;
}

.sources-header {
  font-size: 4em;
  font-family: 'Gabarito', sans-serif;
  margin-left: 5%;
}

.source-item {
  margin-left: 5%;
  margin-right: 5%;
}

.sources-sources {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
  height: 55vh;
  position: absolute;
  top: 26.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sources-copyright {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
  height: 55vh;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel label {
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  font-weight: bold;
}

.sdiv {
  min-height: 100vh;
  background-color: black;
  text-align: center;
}

.sdivhead {
  font-size: 3rem;
}

.sourceslisting {
  color: white;
  font-family: 'Montserrat', sans-serif;
}