/*Colors*/

/*Text*/

/*Images*/

/*Animations*/

/*Misc*/
html{
  background-color: red;
}

body{
  margin:0;
  padding: 0;
}

#landing-page{
  height: 100vh;
  width: 100%;
  background-image: url("images/mountain-lake-sunset-landscape-first-person-view-vector.jpg");
  background-size: cover;
}

nav{
  background-color: transparent;
  position: sticky;
}

.nav-list{
  margin: 0;
}

.nav-item{
  display: inline-block;
  margin: none;
  padding: 4% 2%;
}

.nav-text{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding: 8px;
  text-decoration: none;
  position: relative;
}

hover-underline {
  display: inline-block;
  position: relative;
  color: white;
  padding: 2%
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: white;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.button-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-header{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3em;
}

.landing-info{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 40%;
  margin: auto;
}

.landing-button{
  border-radius: 10px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  text-align: center;
}
