/*Colors*/

/*Text*/

@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

/*Images*/

/*Animations*/

/*Misc*/
html{
  background-color: green;
  scroll-behavior: smooth;
}


body{
  margin:0;
  padding: 0;
  background-color: black;
}

p, a{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#landing-page{
  height: 100vh;
  width: 100%;
  background-image: url("images/pexels-temo-berishvili-1574843.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
  
.nav{
  background-color: transparent;
  position: sticky;
  top: 0;
  transition: 0.5s;
  padding: 2%;
  z-index: 1000;
}

.nav-got-scrolled{
  background-color: black; 
  border-bottom: 2px solid white;
  padding: 1%;
}

.nav-list{
  margin: 0;
}

.nav-item{
  display: inline-block;
  margin: none;
  padding: 0% 2%;
}

.nav-text{
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2em;
  padding: 8px;
  text-decoration: none;
  position: relative;
}

hover-underline {
  display: inline-block;
  position: relative;
  color: white;
  padding: 2%
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: white;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.button-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  width: 50%;
  padding: 3% 0%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  max-height: 100vh;
}

.landing-header{
  color: white;
  font-family: 'Gabarito', sans-serif;
  text-align: center;
  font-size: 4em;
  margin: 0;
}

.landing-info{
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  width: 50%;
  margin: 2% auto;
  font-size: 1em;
}

.heading{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 4%;
  font-size: 2.5em
}

.half-para{
  padding: 5%;
  margin: 0;
  padding-top: 0;
  font-size: 1.2em;
}

.full-para{
  padding: 5%;
  font-size: 1.4em;
  margin: 0;
  padding-top: 0;
  text-align: center;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.flex-div-left{
  width: 40%;
  margin: 2%;
}

.flex-div-right{
  width: 40%;
  margin: 2%;
}

.flex-img{
  width: 100%;
  z-index: 1;
  position: relative;
}

.flex-img-bottom{
  width: 80%;
  float: right;
  margin-top: -80%;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.hidden-right {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(100%);
  transition-delay: 200ms;
  z-index: -1;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.turtle-section{
  background-image: url("images/pexels-belle-co-847393.jpg");
  width: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-div{
  width: 20%;
  margin: 2%;
}

.footer-link{
  display: block;
  margin: 2%;
}

#about-landing {
  display: grid;
  place-items: center;
  align-content: center;
<<<<<<< HEAD
  min-height: 100vh;
  background-image: url("images/pexels-joyston-judah-933054.jpg");
=======
  min-height: 90vh;
  background-image: url("images/pexels-rifqi-ramadhan-884547.jpg");
>>>>>>> ab0620e3fe7556d24096969e12aa214615908544
  background-size: cover;
}

#about-landing h1 {
  color: white;
  font-family: 'Gabarito', sans-serif;
  text-align: center;
  font-size: 4em;
  margin: 0;
}

.about-body {
  display: grid;
  place-items: top;
  min-height: 100vh;
}

.contact{
  float: right;
  margin-right: 8%;
}

<<<<<<< HEAD
=======
#about-sources h2 {
  font-size: 3em;
  text-align: center;
}

#source1 {
  transition-delay: 200ms;
}

#source2 {
 transition-delay: 300ms;
}

#source3 {
  transition-delay: 400ms;
}

#source4 {
  transition-delay: 500ms;
}

#source5 {
  transition-delay: 600ms;
}

.about-body p {
  text-align: center;
}

.source-image {
  height: 50%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  background-image: url("images/matthew-hernandez-Ms4D8OmrAMQ-unsplash.jpg");
  background-size: cover;
  border-radius: 30px;
  transition-delay: 800ms;
}
>>>>>>> ab0620e3fe7556d24096969e12aa214615908544
